{% load uscore %}
{% get post '_id' as post_id %}
<div id="{{ post_id }}" class="my-4 p-2 d-flex w-100 bg-light align-items-center flex-column border border-2 rounded-3">
    <div class="">
        <span class="fw-normal" style="font-size: 1rem;">
            <a class="text-decoration-none text-dark" href="{% url 'profile' username=post.author.user.username %}">
                {{ post.author.user.first_name }} {{ post.author.user.last_name }}
            </a>
        </span>
        <span class="text-muted" style="font-size: 0.75rem;">{{ post.date_posted }}</span>
    </div>
    <p class="mt-2 mb-1 fs-5">{{ post.body }}</p>
    <div>
        <span class="like_count text-muted" style="font-size: 0.75rem;"> {{ post.likes.count }} likes</span>
        .
        <span class="text-muted" style="font-size: 0.75rem;"> {{ post.comments.count }} comments</span>
    </div>

    <div class="mt-3">
        {% if user.profile not in post.likes.all %}
            <a href="{% url 'like' post_id=post_id %}" class="like btn btn-outline-secondary btn-sm px-2">
                Like
        {% else %}
            <a href="{% url 'like' post_id=post_id %}" class="like btn btn-secondary btn-sm px-2">
                Unlike
        {% endif %}
        </a>
        <a class="btn btn-outline-secondary btn-sm px-2">
            Comment
        </a>
        <a class="btn btn-outline-secondary btn-sm px-2">
            Share
        </a>
    </div>

    <div class="my-3">
        <div class="input-group">
            {% csrf_token %}
            <input type="text" name="body" class="form-control" placeholder="Write a comment...">
            <button data-url="{% url 'comment' post_id=post_id %}" onclick="makeComment(this)" class="btn btn-outline-secondary comment">Comment</button>
        </div>
    </div>

    <div class="comments w-100">
        {% for comment in post.comments|slice:":2" %}
            <div>
                <hr class="m-0">
                <div class="px-3">
                    <span class="comment_author" style="font-size:0.75rem;">{{ comment.author.user.first_name }} {{ comment.author.user.last_name }}</span>
                    <span class="comment_date" style="font-size:0.6rem;">{{ comment.date_posted  }}</span>
                    <p class="comment_body" >{{ comment.body }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="comment_template" class="d-none">
        <hr class="m-0">
        <div class="px-3">
            <span class="comment_author" style="font-size:0.75rem;">{{ comment.author.user.first_name }} {{ comment.author.user.last_name }}</span>
            <span class="comment_date" style="font-size:0.6rem;">{{ comment.date_posted  }}</span>
            <p class="comment_body" >{{ comment.body }}</p>
        </div>
    </div>


    <script type="text/javascript">
    </script>
</div>